h1 {
  text-align: center;
  margin-top: 20px;
}

#app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .game-field {
    display: flex;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    line-height: 1.7;
    .cell {
      text-align: center;
      vertical-align: middle;
      flex-basis: 10%;
      user-select: none;
      border: {
        style: solid;
        color: lightgray;
        width: 1px;
      }
      background-color: #fff;
      box-sizing: border-box;
    }
  }

}
